.background-image {
  width: 90vw;
  mix-blend-mode: normal;
  box-shadow: 0px 9px 10px 10px rgba(0, 0, 0, 0.53);
 background: url('../../assets/coins-chart-wp.png');
  background-size: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
}