.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* box-shadow:  */
}

.btn {
  border-radius: 20px;
}

.logo {
  width: 90px;
  height: 60px;
  border-radius: 25px;
}