.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  border-radius: 20px;
}

.logo {
  width: 90px;
  height: 60px;
  border-radius: 25px;
}

.background-image {
  width: 90vw;
  mix-blend-mode: normal;
  box-shadow: 0px 9px 10px 10px rgba(0, 0, 0, 0.53);
  background: url('./assets/coins-chart-wp.png');
  background-size: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
}

.background-image2 {
  width: 90vw;
  height: 100vh;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgd2lkdGg9IjgiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDQwLDQwIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBwYXR0ZXJuVHJhbnNmb3JtPSJyb3RhdGUoMTM1KSAiPjxyZWN0IGlkPSJwYXR0ZXJuLWJhY2tncm91bmQiIHdpZHRoPSI0MDAlIiBoZWlnaHQ9IjQwMCUiIGZpbGw9InJnYmEoMjQ3LCAyNTAsIDI1MiwxKSI+PC9yZWN0PiA8Y2lyY2xlIGZpbGw9InJnYmEoMjYsIDMyLCA0NCwxKSIgY3g9IjIwIiBjeT0iMjAiIHI9IjEiPjwvY2lyY2xlPjxjaXJjbGUgZmlsbD0icmdiYSgyNiwgMzIsIDQ0LDEpIiBjeD0iMjAiIGN5PSIyMCIgcj0iMSI+PC9jaXJjbGU+PGNpcmNsZSBmaWxsPSJyZ2JhKDI2LCAzMiwgNDQsMSkiIGN4PSItMjAiIGN5PSIyMCIgcj0iMSI+PC9jaXJjbGU+PC9wYXR0ZXJuPiAgPC9kZWZzPiA8cmVjdCBmaWxsPSJ1cmwoI3BhdHRlcm4pIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIj48L3JlY3Q+PC9zdmc+");
  box-shadow: 0px 9px 10px 10px rgba(0, 0, 0, 0.53);
}